.env
.DS_Store
/vendor/
/node_modules/
/.idea/
/.vscode/
__pycache__/
*.pyc
*.egg-info/
/python/build/
.venv*/
public-proxy/.config.vault
public-proxy/config.php
public-proxy/storage/*.sqlite
public-proxy/storage/*.sqlite-journal
public-proxy/storage/*.sqlite-wal
public-proxy/storage/*.sqlite-shm
/logs/
